---
/** Desktop: Fixed desktop environment background */
import WindowDock from "./WindowDock.astro";
import DesktopIcons from "./DesktopIcons.astro";
const base = (import.meta as any).env?.BASE_URL || "/";
---

<div
	class="desktop-background"
	data-desktop-canvas
	style={`--desktop-bg: url('${base}image.png')`}
>
	<DesktopIcons />
	<slot />
	<WindowDock />
</div>

<style is:inline>
	.desktop-background {
		position: fixed;
		top: var(--menubar-height);
		left: 0;
		right: 0;
		bottom: 0;
		background-color: var(--gray-10);
		/* Fondo: imagen provista */
		background-image: var(--desktop-bg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		/* IMPORTANTE: permitir eventos para que las ventanas (hijas) puedan recibir drag */
		pointer-events: auto;
		user-select: none;
		-webkit-user-drag: none;
		z-index: 1;
	}
</style>
